<div class="row">
    <div class="col-md-6">
        <h2>Recent Logins</h2>
    </div>
    <div class="col-md-6">
        <h2>Create a New Account</h2>
        <span>it's quick and easy.</span>
    </div>
</div>

